name = "ffc"
version = "0.1.0"
description = "Fortran Fortran Compiler - retired in favor of LFortran"
author = "krystophny"
license = "MIT"

[build]
auto-executables = true
auto-tests = true
auto-examples = false

[fortran]
implicit-external = false
implicit-typing = false
source-form = "free"
